#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Name=AutoSSH GUI
Comment=Automatically creates SSH tunnel
Icon=/usr/share/autossh-gui/icons/tunnel-pathway-symbol.svg
Exec=autossh-gui
Terminal=false
Type=Application
Categories=Network;Application;
OnlyShowIn=GNOME;XFCE;KDE;Unity;


